<div style="text-align: center; background-color: royalblue; color: white"><h1>Homework 2</h1></div>

<div>
    <div class="row">
        <div class="col-sm-9">
            <div class=container">
                This homework introduces more things.
            </div>


        </div>
        <div class="col-sm-3">
            This text is over here!
        </div>

    </div>

</div>