<div style="text-align: center; background-color: royalblue; color: white"><h1>Lecture 1</h1></div>

<div>
    <div class="row">
        <div class="col-sm-9">
            <div class=container">
                Even better lecture!
            </div>


        </div>
        <div class="col-sm-3">
            This text is over here!
        </div>

    </div>

</div>